* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-image: url("static/assets/homepage.jpg' ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#cover {
  background-image: url("static/assets/homepage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo,
h1 {
  color: black;
  margin-top: 5px;
}
.nav-menu,
li {
  display: flex;

  align-items: center;
  margin: 0 100px;

  list-style: none;
}

input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1f618d;
  text-align: center;
  background: #f0f3f4;
}
header {
  align-items: center;
}

.nav-menu,
li,
a {
  font-weight: 200;
  font-size: 13px;
  text-decoration: none;
  color: #0b0b0b;
  padding: 10px;
}
