{% extends 'layout.html' %} {% load static %} {% block body %}
<link rel="stylesheet" href="{% static  'css/main.css' %}" />

<div class="background-image-container">
  <div class="center-text">
    <h1>Explore, Upgrade</h1>
    <button>Shop Now</button>
  </div>
</div>
<h1 class="category-heading">Featured <span>Products</span></h1>
<div class="category-container">
  <div class="category-cards">
    {% for productcard in productcard %}
    <div class="category-card">
      <img src="{{ productcard.image.url }}" alt="product_image" />
      <p>{{productcard.name}}</p>
    </div>
    {% endfor %}
  </div>
</div>

<div class="service-container">
  <div class="service-cards">
    <div class="support-card">
      <i class="fa-solid fa-clock"></i>
      <p>24/7 Customer Support</p>
    </div>

    <div class="shipping-card">
      <i class="fa-solid fa-truck-fast"></i>
      <p>Free Shipping</p>
    </div>

    <div class="quality-card">
      <i class="fa-solid fa-thumbs-up"></i>
      <p>Quality Products</p>
    </div>
    <div class="payment-card">
      <i class="fa-solid fa-money-check-alt"></i>
      <p>Secure Payment</p>
    </div>
  </div>
</div>

<div class="omega-container">
  <div class="omega-section">
    <div class="operation">
      <i class="fa-solid fa-location-dot"></i>
      <h4>Physical Location</h4>
      <p>500m off Scarlet Lounge Kamakis <br />, Along Eastern Bypass,</p>
      <i class="fa-solid fa-clock"></i>
      <h4>Opening Hours</h4>
      <p>Monday - Friday: 9 AM - 10 PM</p>
      <p>Saturday: 9 AM - 9 PM</p>
      <p>Sunday: Closed</p>

      <i class="fa-solid fa-phone"></i>
      <h4>Contact Us</h4>
      <p>+254 719 719 095</p>
      <p>Email: uprisetechnologies@gmail.com</p>

      
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>

   
    </div>
    <div class="social-links">
 
    </div>
    <div class="footer">
      <p>&copy; 2024 Uprise Technologies. All rights reserved.</p>
    </div>
  </div>

  
  
  
  
  
  
</div>
  {% endblock %}


